<ion-view view-title="Colour">
    <ion-content>
		<uicolorpicker ng-model="colour.targetColor"></uicolorpicker>

    <br>

    <div class="buttons">
      <button class="button" ng-click="addUserColour()">Add</button>
      <button class="button" ng-click="data.showDelete = !data.showDelete">Delete</button>
      <button class="button" ng-click="data.showReordering = !data.showReordering">Reorder</button>
    </div>
    <ion-list show-delete="data.showDelete" show-reorder="data.showReordering">
        <ion-item ng-repeat="userColour in colours" ui-sref='userColour({colourId: userColour.id})' ng-style="{'background-color': '#{{userColour.hex}}'}">
          {{userColour.name}}
          <ion-delete-button class="ion-minus-circled" ng-click="deleteUserColour({{userColour.id}})"></ion-delete-button>
          <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(userColour, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
    </ion-list>

    </ion-content>
</ion-view>
