<ion-view view-title="Single">
	<ion-content>
		<div class="card">
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[52]" ng-click="setLED(52)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[56]" ng-click="setLED(56)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[60]" ng-click="setLED(60)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[64]" ng-click="setLED(64)"></ion-checkbox></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[51]" ng-click="setLED(51)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[55]" ng-click="setLED(55)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[59]" ng-click="setLED(59)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[63]" ng-click="setLED(63)"></ion-checkbox></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[50]" ng-click="setLED(50)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[54]" ng-click="setLED(54)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[58]" ng-click="setLED(58)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[62]" ng-click="setLED(62)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"><ion-checkbox ng-model="cube[49]" ng-click="setLED(49)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[53]" ng-click="setLED(53)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[57]" ng-click="setLED(57)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[61]" ng-click="setLED(61)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			<hr>

			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[36]" ng-click="setLED(36)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[40]" ng-click="setLED(40)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[44]" ng-click="setLED(44)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[48]" ng-click="setLED(48)"></ion-checkbox></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[35]" ng-click="setLED(35)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[39]" ng-click="setLED(39)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[43]" ng-click="setLED(43)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[47]" ng-click="setLED(47)"></ion-checkbox></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[34]" ng-click="setLED(34)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[38]" ng-click="setLED(38)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[42]" ng-click="setLED(42)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[46]" ng-click="setLED(46)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"><ion-checkbox ng-model="cube[33]" ng-click="setLED(33)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[37]" ng-click="setLED(37)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[41]" ng-click="setLED(41)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[45]" ng-click="setLED(45)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			<hr>

			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[20]" ng-click="setLED(20)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[24]" ng-click="setLED(24)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[28]" ng-click="setLED(28)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[32]" ng-click="setLED(32)"></ion-checkbox></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[19]" ng-click="setLED(19)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[23]" ng-click="setLED(23)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[27]" ng-click="setLED(27)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[31]" ng-click="setLED(31)"></ion-checkbox></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[18]" ng-click="setLED(18)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[22]" ng-click="setLED(22)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[26]" ng-click="setLED(26)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[30]" ng-click="setLED(30)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"><ion-checkbox ng-model="cube[17]" ng-click="setLED(17)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[21]" ng-click="setLED(21)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[25]" ng-click="setLED(25)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[29]" ng-click="setLED(29)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			<hr>

			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[4]" ng-click="setLED(4)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[8]" ng-click="setLED(8)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[12]" ng-click="setLED(12)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[16]" ng-click="setLED(16)"></ion-checkbox></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[3]" ng-click="setLED(3)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[7]" ng-click="setLED(7)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[11]" ng-click="setLED(11)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[15]" ng-click="setLED(15)"></ion-checkbox></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col"><ion-checkbox ng-model="cube[2]" ng-click="setLED(2)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[6]" ng-click="setLED(6)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[10]" ng-click="setLED(10)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[14]" ng-click="setLED(14)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col"><ion-checkbox ng-model="cube[1]" ng-click="setLED(1)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[5]" ng-click="setLED(5)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[9]" ng-click="setLED(9)"></ion-checkbox></div>
				<div class="col"><ion-checkbox ng-model="cube[13]" ng-click="setLED(13)"></ion-checkbox></div>
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
