.spinner svg {
	width: 40px;
	height: 40px;
}

.sp-container {
	background-color: #FFFFFF;
	border: none;
}

.sp-picker-container {
	width: 300px;
}

.item .item-content {
	background-color: transparent !important;
}

.list-inset {
  margin-top: 0px; !important;
}
